<html ng-app="YmapsDemo">
<head>
    <title>Yandex Maps API as an Angular JS direcitive</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
    <link rel="stylesheet" href="github.css">
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="angular-ymaps.js"></script>
    <script src="app.js"></script>
    <script type="text/javascript" src="highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body ng-controller="MapCtrl">
<header class="header">
    <h1>Удобная работа с Яндекс-картами</h1>
    <p>Модуль для добавления карт через AngularJS</p>
    <div class="btn-group">
        <a href="https://github.com/just-boris/angular-ymaps/" class="btn btn-success">Код на Github</a>
        <a href="#docs" class="btn btn-default">Документация</a>
        <a href="#examples" class="btn btn-default">Примеры</a>
        <a href="angular-ymaps.js" class="btn btn-danger">Скачать</a>
    </div>
</header>
<div class="demo_content clearfix">
    <div class="controls col-sm-6">
        <h3>Пример работы:</h3>
        <p>Таблица связана с маркерами на карте, можно добавлять и удалять их, а также изменять координаты. Все изменения автоматически отразятся на карте.</p>
        <table class="table"><thead>
        <tr>
            <th>#</th><th>Широта</th><th>Долгота</th><th></th>
        </tr>
        </thead><tbody>
        <tr ng-repeat="marker in markers">
            <td>{{$index+1}}</td>
            <td><input type="text" ng-model="marker.coordinates[0]" class="form-control" /></td>
            <td><input type="text" ng-model="marker.coordinates[1]" class="form-control" /></td>
            <td><button type="button" class="close" ng-click="removeMarker(marker)">&times;</button></td>
        </tr>
        <tr ng-show="addingMarker">
            <td>*</td>
            <td><input type="text" ng-model="markerLat" placeholder="Lat" class="form-control" required /></td>
            <td><input type="text" ng-model="markerLon" placeholder="Lon" class="form-control" required /></td>
            <td><button type="button" class="close" ng-click="submitMarker(markerLat, markerLon)" title="Добавить">+</button></td>
        </tr>
        </tbody></table>
        <button type="button" class="btn btn-default btn-block add_button" ng-hide="addingMarker"
                ng-click="addMarker()">Добавить маркер</button>
    </div>
    <yandex-map class="map_container col-sm-6" center="map.center" zoom="map.zoom">
        <ymap-marker coordinates="marker.coordinates" index="$index+1" ng-repeat="marker in markers"></ymap-marker>
    </yandex-map>
</div>
<div class="description" id="docs">
    <h1>Angular-ymaps <a href="https://travis-ci.org/just-boris/angular-ymaps"><img src="https://travis-ci.org/just-boris/angular-ymaps.png" alt="Travis" title="" /></a></h1>

<p>Yandex Maps API as an Angular JS direcitive.</p>

<p>Это модуль для <a href="http://angularjs.org">Angular JS</a>, предназначенный для простого подключения и работы с Яндекс-картами. С его помощью можно
вставлять Яндекс карту на страницу через html-тег, так же просто как <code>img</code> или <code>button</code></p>

<h3><a href="http://catatron.com/angular-ymaps/" class="hidden">Документация и пример использования</a></h3>

<h3>Подключение</h3>

<ul>
<li>Скачать <a href="http://catatron.com/angular-ymaps/angular-ymaps.js">библиотеку</a> или ее <a href="http://catatron.com/angular-ymaps/angular-ymaps.min.js">упакованную версию</a></li>
<li>Подключить скрипт на страницу 
<code>&lt;script src="angular-ymaps.js"&gt;&lt;/script&gt;</code></li>
<li>Добавить модуль <code>ymaps</code> в зависимости своего angular-приложения
<code>angular.module('MyApp', ['ymaps'])</code></li>
<li>Теперь можно использовать в HTML новые теги
<ul><li><code>&lt;yandex-map&gt;</code> - Яндекс-карта</li>
<li><code>&lt;ymap-marker&gt;</code> - маркер на карте, вставляется только внутрь тега <code>&lt;yandex-map&gt;</code></li></ul></li>
</ul>

<h4>Bower</h4>

<p>Можно установить библиотеку из bower:</p>

<pre><code>bower install angular-ymaps --save
</code></pre>

<h3>API</h3>

<h4>Тег yandex-map:</h4>

<pre><code>&lt;yandex-map center="map.center" zoom="map.zoom"&gt;&lt;/yandex-map&gt;
</code></pre>

<p>Добавляет Яндекс-карту на страницу. Размеры карты определяются размерами элемента, их можно задать в css. При
создании нужно указать два обязательных атрибута:</p>

<ul>
<li><strong>center</strong>(Array) - массив из двух чисел, широта и долгота центра карты</li>
<li><strong>zoom</strong>(Number) - число, от 0 до 23, масштаб карты. Во избежание ошибок нужно задавать разрешенный масштаб для
указанной области</li>
</ul>

<h4>Тег ymap-marker:</h4>

<p>Может использоваться только внутри тега карты, добавляет на нее точку. Имеются следующие атрибуты</p>

<ul>
<li><strong>coordinates</strong>(Array) - массив из двух чисел, широта и долгота маркера на карте (обязательный)</li>
<li><strong>index</strong>(String) - текст, который пишется на маркере</li>
<li><strong>properties</strong>(Object) - свойства метки, передаются в <a href="http://api.yandex.ru/maps/doc/jsapi/2.x/ref/reference/GeoObject.xml">ymaps.GeoObject</a>. Здесь может быть текст балуна, который
открывается при нажатии на метку, или всплывающей при наведении подсказки. Подробнее - в
<a href="http://api.yandex.ru/maps/doc/jsapi/2.x/ref/reference/GeoObject.xml">документации Яндекс</a>, описание параметра properties.</li>
</ul>

<h4>Глобальные настройки</h4>

<p>Можно управлять видом и функциоальностью карты через свойства, вынесенные в константу <code>ymapsConfig</code>:</p>

<ul>
<li><strong>apiUrl</strong>(String) - ссылка для загрузки API карт. Может переопределяться для загрузки другой версии.
По умолчанию загружается <code>2.0-stable</code></li>
<li><strong>mapBehaviors</strong>(Array) - возможные поведения карты, массив ключей, которые принимает <a href="http://api.yandex.ru/maps/doc/jsapi/2.x/ref/reference/map.behavior.Manager.xml">ymaps.map.behavior.Manager</a>.
Стандартное значение: <em>['default']</em></li>
<li><strong>markerOptions</strong>(Object) - опции, передаваемые <a href="http://api.yandex.ru/maps/doc/jsapi/2.x/ref/reference/GeoObject.xml">ymaps.GeoObject</a>, то есть настройки внешнего вида и поведения маркеров
на карте. Стандартное значение: <em>{preset: 'twirl#darkgreenIcon'}</em></li>
<li><strong>fitMarkers</strong>(Boolean) - автоматически подстраивать видимую область и масштаб карты, чтобы было видно все точки на
карте. Стандартное значение: <em>true</em></li>
</ul>
    <h3 id="examples">Примеры использования</h3>
    
        <div class="page-header">
            <a href="examples/simple-marker/" class="btn pull-right">Смотреть демо</a>
            <h4>Карта заданного масштаба с одним маркером в центре</h4>
        </div>
        <p>Нужно просто задать кординаты и присвоить их атрибуту center для карты и coordinates для маркера</p>
        <h5>HTML</h5>
        <pre ng-non-bindable><code data-language="HTML">&lt;div ng-init=&quot;coords=[55.21, 34.30];center=[55.21, 34.30];zoom=10&quot;&gt;
    &lt;yandex-map center=&quot;center&quot; zoom=&quot;zoom&quot;&gt;
        &lt;ymap-marker coordinates=&quot;coords&quot;&gt;&lt;/ymap-marker&gt;
    &lt;/yandex-map&gt;
&lt;/div&gt;</code></pre>
        <h5>Javascript</h5>
        <pre ng-non-bindable><code data-language="javascript">//кофигурация модуля, использующего карты
angular.module(&#x27;MyApp&#x27;, [&#x27;ymaps&#x27;]);</code></pre>
    
        <div class="page-header">
            <a href="examples/color-marker/" class="btn pull-right">Смотреть демо</a>
            <h4>Маркер нестандартного цвета</h4>
        </div>
        <p>Это немножко сложнее, нужно переопределить свойство <code>markerOptions</code> в настройках модуля. HTML такой же, как и в прошлом примере</p>
        <h5>HTML</h5>
        <pre ng-non-bindable><code data-language="HTML">&lt;div ng-init=&quot;coords=[56.27, 34.33];center=[56.27, 34.33];zoom=10&quot;&gt;
    &lt;yandex-map center=&quot;center&quot; zoom=&quot;zoom&quot;&gt;
        &lt;!-- а маркер теперь синий! --&gt;
        &lt;ymap-marker coordinates=&quot;coords&quot;&gt;&lt;/ymap-marker&gt;
    &lt;/yandex-map&gt;
&lt;/div&gt;</code></pre>
        <h5>Javascript</h5>
        <pre ng-non-bindable><code data-language="javascript">//кофигурация модуля, использующего карты
angular.module(&#x27;MyApp&#x27;, [&#x27;ymaps&#x27;]).config(function(ymapsConfig) {
    //выставляем синий цвет иконкам вместо зеленого
    ymapsConfig.markerOptions.preset = &#x27;islands#darkblueDotIcon&#x27;;
});
</code></pre>
    
        <div class="page-header">
            <a href="examples/markers-array/" class="btn pull-right">Смотреть демо</a>
            <h4>Маркеры на карте из массива</h4>
        </div>
        <p>С помощью Angular JS эта задача решается крайне легко! Пример в действии можно увидеть прямо на этой странице</p>
        <h5>HTML</h5>
        <pre ng-non-bindable><code data-language="HTML">&lt;div ng-controller=&quot;MapCtrl&quot;&gt;
    &lt;yandex-map center=&quot;map.center&quot; zoom=&quot;map.zoom&quot;&gt;
        &lt;!-- директива ng-repeat создаст все маркеры одним кодом  --&gt;
        &lt;ymap-marker ng-repeat=&quot;marker in markers&quot; index=&quot;$index+1&quot; coordinates=&quot;marker&quot;&gt;&lt;/ymap-marker&gt;
    &lt;/yandex-map&gt;
&lt;/div&gt;</code></pre>
        <h5>Javascript</h5>
        <pre ng-non-bindable><code data-language="javascript">//нам нужно создать контроллер, если у вас его еще нет
angular.module(&#x27;MyApp&#x27;, [&#x27;ymaps&#x27;]).controller(&#x27;MapCtrl&#x27;, function($scope) {
    //создаем массив координат. При желании его можно загружать и с сервера,
    //подробнее об этом - в документации Angular
    $scope.markers = [
        [54.46, 38.31],
        [53.57, 37.13],
        [53.14, 37.59]
    ];
    //настройки положения карты
    $scope.map = {
        center: [53.57, 37.13], zoom: 12
    };
});</code></pre>
    
        <div class="page-header">
            <a href="examples/markers-text/" class="btn pull-right">Смотреть демо</a>
            <h4>Метки с текстом на карте</h4>
        </div>
        <p>Этот пример, почти такой же, как и предыдущий, только нужно загрузить больше данных</p>
        <h5>HTML</h5>
        <pre ng-non-bindable><code data-language="HTML">&lt;div ng-controller=&quot;MapCtrl&quot;&gt;
    &lt;yandex-map center=&quot;map.center&quot; zoom=&quot;map.zoom&quot;&gt;
        &lt;!-- загружаем текст для метки в атрибут index --&gt;
        &lt;ymap-marker ng-repeat=&quot;marker in markers&quot; index=&quot;marker.title&quot; coordinates=&quot;marker.coordinates&quot;&gt;&lt;/ymap-marker&gt;
    &lt;/yandex-map&gt;
&lt;/div&gt;</code></pre>
        <h5>Javascript</h5>
        <pre ng-non-bindable><code data-language="javascript">angular.module(&#x27;MyApp&#x27;, [&#x27;ymaps&#x27;]).config(function(ymapsConfig) {
    //нужно сменить preset у карты на специальный текстовый
    ymapsConfig.markerOptions.preset = &#x27;islands#darkgreenStretchyIcon&#x27;;
})
.controller(&#x27;MapCtrl&#x27;, function($scope) {
    //создаем массив с данными для меток
    $scope.markers = [
        {coordinates:[54.46, 38.31], title: &#x27;Пункт А&#x27;},
        {coordinates:[53.57, 37.13], title: &#x27;Пункт Б&#x27;},
        {coordinates:[53.14, 37.59], title: &#x27;Запасной пункт Б&#x27;}
    ];
    //настройки положения карты
    $scope.map = {
        center: [53.57, 37.13], zoom: 12
    };
});
</code></pre>
    
        <div class="page-header">
            <a href="examples/balloons/" class="btn pull-right">Смотреть демо</a>
            <h4>Маркеры с балунами</h4>
        </div>
        <p>Крайне востребованный случай, при клике на маркер показывается сообщение. Сделать это очень просто - нужно всего лишь прописать нужный текст в свойство balloonContent</p>
        <h5>HTML</h5>
        <pre ng-non-bindable><code data-language="HTML">&lt;div ng-controller=&quot;MapCtrl&quot;&gt;
    &lt;yandex-map center=&quot;map.center&quot; zoom=&quot;map.zoom&quot;&gt;
        &lt;!-- загружаем текст сообщения в атрибут properties --&gt;
        &lt;ymap-marker ng-repeat=&quot;marker in markers&quot; index=&quot;$index+1&quot; coordinates=&quot;marker.coordinates&quot; properties=&quot;marker.properties&quot; options=&quot;marker.options&quot;&gt;&lt;/ymap-marker&gt;
    &lt;/yandex-map&gt;
&lt;/div&gt;
</code></pre>
        <h5>Javascript</h5>
        <pre ng-non-bindable><code data-language="javascript">//нам нужно создать контроллер, если у вас его еще нет
angular.module(&#x27;MyApp&#x27;, [&#x27;ymaps&#x27;]).controller(&#x27;MapCtrl&#x27;, function($scope) {
    //создаем массив координат и данных для меток и балунов
    $scope.markers = [
        {coordinates:[56.56, 38.63], properties: {balloonContent: &#x27;Здесь рыбы нет!&#x27;}},
        {coordinates:[55.16, 39.89], properties: {balloonContent: &#x27;Здесь рыбы тоже нет&#x27;}, options: {preset: &#x27;islands#icon&#x27;, iconColor: &#x27;#a5260a&#x27;}},
        {coordinates:[55.08, 38.96], properties: {balloonContent: &#x27;А здесь есть!&#x27;}}
    ];
    //настройки положения карты
    $scope.map = {
        center: [55.55, 39.84], zoom: 12
    };
});
</code></pre>
    
        <div class="page-header">
            <a href="examples/update-center/" class="btn pull-right">Смотреть демо</a>
            <h4>Обновляемые атрибуты</h4>
        </div>
        <p>Атрибуты 'center' и 'zoom' атоматически обновляются вслед за изменением положения карты</p>
        <h5>HTML</h5>
        <pre ng-non-bindable><code data-language="HTML">&lt;div ng-init=&quot;center=[55.21, 34.30];zoom=10&quot;&gt;
    &lt;yandex-map center=&quot;center&quot; zoom=&quot;zoom&quot;&gt;&lt;/yandex-map&gt;
    &lt;div class=&quot;window&quot;&gt;
        &lt;label&gt;Широта: &lt;input type=&quot;number&quot; ng-model=&quot;center[0]&quot; /&gt;&lt;/label&gt;&lt;br&gt;
        &lt;label&gt;Долгота: &lt;input type=&quot;number&quot; ng-model=&quot;center[1]&quot; /&gt;&lt;/label&gt;&lt;br&gt;
        &lt;label&gt;Zoom: &lt;input type=&quot;number&quot; ng-model=&quot;zoom&quot; /&gt;&lt;/label&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        <h5>Javascript</h5>
        <pre ng-non-bindable><code data-language="javascript">//кофигурация модуля, использующего карты
angular.module(&#x27;MyApp&#x27;, [&#x27;ymaps&#x27;]);</code></pre>
    
        <div class="page-header">
            <a href="examples/map-toggle/" class="btn pull-right">Смотреть демо</a>
            <h4>Скрываемая карта</h4>
        </div>
        <p>Можно показывать карту только после нажатия на кнопку. До этого код карты грузиться не будет</p>
        <h5>HTML</h5>
        <pre ng-non-bindable><code data-language="HTML">&lt;div ng-init=&quot;center=[58.39,33.91];zoom=&#x27;10&#x27;&quot;&gt;
    &lt;yandex-map ng-if=&quot;showMap&quot; center=&quot;center&quot; zoom=&quot;zoom&quot;&gt;&lt;/yandex-map&gt;
    &lt;div class=&quot;window&quot;&gt;
        &lt;a href ng-hide=&quot;showMap&quot; ng-click=&quot;showMap = true&quot;&gt;Открыть карту&lt;/a&gt;
        &lt;a href ng-show=&quot;showMap&quot; ng-click=&quot;showMap = false&quot;&gt;Скрыть карту&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        <h5>Javascript</h5>
        <pre ng-non-bindable><code data-language="javascript">//кофигурация модуля, использующего карты
angular.module(&#x27;MyApp&#x27;, [&#x27;ymaps&#x27;]);</code></pre>
    
        <div class="page-header">
            <a href="examples/multi-map/" class="btn pull-right">Смотреть демо</a>
            <h4>Несколько карт на странице</h4>
        </div>
        <p>На странице может быть несколько независисмых карт. При этом они могут синхронизировать свой центр, через общее свойство</p>
        <h5>HTML</h5>
        <pre ng-non-bindable><code data-language="HTML">&lt;style type=&quot;text/css&quot;&gt;
	.row {
		width: 50%;
		float: left;
		height: 100%;
	}
&lt;/style&gt;
&lt;div ng-controller=&quot;MapCtrl&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
    	&lt;yandex-map center=&quot;leftMap.center&quot; zoom=&quot;leftMap.zoom&quot;&gt;&lt;/yandex-map&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
    	&lt;yandex-map center=&quot;rightMap.center&quot; zoom=&quot;rightMap.zoom&quot;&gt;&lt;/yandex-map&gt;
    &lt;/div&gt;
    &lt;div class=&quot;window&quot;&gt;
        &lt;label&gt;&lt;input type=&quot;checkbox&quot; ng-model=&quot;bindMaps&quot; ng-change=&quot;updateBinding()&quot; /&gt; Связать карты&lt;/label&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        <h5>Javascript</h5>
        <pre ng-non-bindable><code data-language="javascript">angular.module(&#x27;MyApp&#x27;, [&#x27;ymaps&#x27;]).controller(&#x27;MapCtrl&#x27;, function($scope) {
    //настройки положения карты
    $scope.leftMap = {
        center: [55.74, 37.61], zoom: 12
    };
    $scope.rightMap = {
        center: [59.93, 30.33], zoom: 12
    };
    $scope.updateBinding = function() {
        if($scope.bindMaps) {
            $scope.rightMap = $scope.leftMap;
        } else {
            $scope.rightMap = angular.copy($scope.leftMap);
        }
    };
});
</code></pre>
    

    <p>Но это еще не все, есть и другие варианты примения, для них &mdash; документация <a href="http://api.yandex.ru/maps/doc/intro/concepts/intro.xml">Яндекс-карт</a>
    и <a href="http://docs.angularjs.org/api/">AngularJS</a> вам в помощь</p>

    <h3>Feedback</h3>

<p>Исходный код доступен на <a href="https://github.com/just-boris/angular-ymaps/">GitHub</a>. Проект открыт к изменениям,
принимаются пожелания и сообщения о багах в виде <a href="https://github.com/just-boris/angular-ymaps/issues">issues</a> к этому
репозиторию</p>

<h3>Contributing</h3>

<p>Проект собирается с помощью Grunt, для тестов используется Karma. Для сборки нужно сделать следующее</p>

<ul>
<li>Установить node.js</li>
<li>Установить Grunt <code>npm install -g grunt-cli</code></li>
<li>Установить Karma <code>npm install -g karma</code></li>
<li>Склонировать этот проект <code>git@github.com:just-boris/angular-ymaps.git</code></li>
<li>В папке проекта выполнить <code>npm init</code>, установить локальные зависимости</li>
<li>Сборка проекта выполняется командой <code>grunt</code>. В папке build будут собранные файлы</li>
<li>Для тестирования во время разработки можно запустить karma в режиме сервера: <code>karma start --no-single-run</code></li>
</ul>

<p>Буду рад принять пожелания и дополнения. Удачного кодинга!</p>
</div>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39285873-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>