<html ng-app="YmapsDemo">
<head>
    <title>Yandex Maps API as an Angular JS direcitive</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
    <link rel="stylesheet" href="rainbow-github.css">
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script type="text/javascript" src="rainbow.min.js"></script>
    <script src="angular-ymaps.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="MapCtrl">
<header class="header">
    <h1>Удобная работа с Яндекс-картами</h1>
    <p>Модуль для добавления карт через AngularJS</p>
    <div class="btn-group">
        <a href="#docs" class="btn btn-success">Код на Github</a>
        <a href="#docs" class="btn btn-default">Документация</a>
        <a href="#examples" class="btn btn-default">Примеры</a>
        <a href="angular-ymaps.js" class="btn btn-danger">Скачать</a>
    </div>
</header>
<div class="demo_content clearfix">
    <div class="controls col-sm-6">
        <h3>Пример работы:</h3>
        <p>Таблица связана с маркерами на карте, можно добавлять и удалять их, а также изменять координаты. Все изменения автоматически отразятся на карте.</p>
        <table class="table"><thead>
        <tr>
            <th>#</th><th>Широта</th><th>Долгота</th><th></th>
        </tr>
        </thead><tbody>
        <tr ng-repeat="marker in markers">
            <td>{{$index+1}}</td>
            <td><input type="text" ng-model="marker.coordinates[0]" class="form-control" /></td>
            <td><input type="text" ng-model="marker.coordinates[1]" class="form-control" /></td>
            <td><button type="button" class="close" aria-hidden="true" ng-click="removeMarker(marker)">&times;</button></td>
        </tr>
        <tr ng-show="addingMarker">
            <td>*</td>
            <td><input type="text" ng-model="markerLat" placeholder="Lat" class="form-control" required /></td>
            <td><input type="text" ng-model="markerLon" placeholder="Lon" class="form-control" required /></td>
            <td><button type="button" class="close" aria-hidden="true" ng-click="submitMarker(markerLat, markerLon)"
                        title="Добавить">+</button></td>
        </tr>
        </tbody></table>
        <button type="button" class="btn btn-default btn-block add_button" ng-hide="addingMarker"
                ng-click="addMarker()">Добавить маркер</button>
    </div>
    <yandex-map class="map_container col-sm-6" center="map.center" zoom="map.zoom">
        <ymap-marker coordinates="marker.coordinates" index="$index+1" ng-repeat="marker in markers"></ymap-marker>
    </yandex-map>
</div>
<div class="description" id="docs">
    <h1>Angular-ymaps</h1>

<p>Yandex Maps API as an Angular JS direcitive.</p>

<p>Это модуль для <a href="http://angularjs.org">Angular JS</a>, предназначенный для простого подключения и работы с Яндекс-картами. С его помощью можно
вставлять Яндекс карту на страницу как html-тег, так же просто как и <code>img</code> или <code>button</code></p>

<h3><a href="http://catatron.com/angular-ymaps/" class="hidden">Документация и пример использования</a></h3>

<h3>Подключение</h3>

<ul>
<li>Скачать <a href="http://catatron.com/angular-ymaps/angular-ymaps.js">библиотеку</a> или ее <a href="http://catatron.com/angular-ymaps/angular-ymaps.min.js">упакованную версию</a></li>
<li>Подключить скрипт на страницу <br> 
<code>&lt;script src="angular-ymaps.js"&gt;&lt;/script&gt;</code></li>
<li>Добавить модуль <code>ymaps</code> в зависимости своего angular-приложения <br>
<code>angular.module('MyApp', [ymaps])</code></li>
<li>Теперь можно использовать в HTML новые теги 
<ul><li><code>&lt;yandex-map&gt;</code> - Яндекс-карта</li>
<li><code>&lt;ymap-marker&gt;</code> - маркер на карте, вставляется только внутрь тега <code>&lt;yandex-map&gt;</code></li></ul></li>
</ul>

<h4>Тег yandex-map:</h4>

<pre ng-non-bindable><code data-language="HTML"><yandex-map center="map.center" zoom="map.zoom"></yandex-map></code></pre>

<p>Добавляет Яндекс-карту на страницу. Размеры карты определяются размерами элемента, их можно задать в css. При
создании нужно указать два обязательных атрибута:</p>

<ul>
<li><strong>center</strong>(Array) - массив из двух чисел, широта и долгота центра карты</li>
<li><strong>zoom</strong>(Number) - число, от 0 до 23, масштаб карты. Во избежание ошибок нужно задавать разрешенный масштаб для
указанной области</li>
</ul>

<h4>Тег ymap-marker:</h4>

<p>Может использоваться только внутри тега карты, добавляет на нее точку. Имеются следующие атрибуты</p>

<ul>
<li><strong>coordinates</strong>(Array) - массив из двух чисел, широта и долгота маркера на карте (обязательный)</li>
<li><strong>index</strong>(String) - текст, который пишется на маркере</li>
<li><strong>properties</strong>(Object) - свойства метки, передаются в <a href="http://api.yandex.ru/maps/doc/jsapi/2.x/ref/reference/GeoObject.xml">ymaps.GeoObject</a>. Здесь может быть текст балуна, который
открывается при нажатии на метку, или всплывающей при наведении подсказки. Подробнее - в
<a href="http://api.yandex.ru/maps/doc/jsapi/2.x/ref/reference/GeoObject.xml">документации Яндекс</a>, описание параметра properties.</li>
</ul>

<h4>Глобальные настройки</h4>

<p>Можно управлять видом и функциоальностью карты через свойства, вынесенные в константу <code>ymapsConfig</code>:</p>

<ul>
<li><strong>apiUrl</strong>(String) - ссылка для загрузки API карт. Может переопределяться для загрузки другой версии.
По умолчанию загружается <code>2.0-stable</code></li>
<li><strong>mapBehaviors</strong>(Array) - возможные поведения карты, массив ключей, которые принимает <a href="http://api.yandex.ru/maps/doc/jsapi/2.x/ref/reference/map.behavior.Manager.xml">ymaps.map.behavior.Manager</a>.
Стандартное значение: <em>['default']</em></li>
<li><strong>markerOptions</strong>(Object) - опции, передаваемые <a href="http://api.yandex.ru/maps/doc/jsapi/2.x/ref/reference/GeoObject.xml">ymaps.GeoObject</a>, то есть настройки внешнего вида и поведения маркеров
на карте. Стандартное значение: <em>{preset: 'twirl#darkgreenIcon'}</em></li>
<li><strong>fitMarkers</strong>(Boolean) - автоматически подстраивать видимую область и масштаб карты, чтобы было видно все точки на
карте. Стандартное значение: <em>true</em></li>
</ul>
    <h3 id="examples">Примеры использования</h3>
    
        <div class="page-header">
            <a href="examples/simple-marker/" class="btn pull-right">Смотреть демо</a>
            <h4>Карта заданного масштаба с одним маркером в центре</h4>
        </div>
        <p>Нужно просто задать кординаты и присвоить их атрибуту center для карты и coordinates для маркера</p>
        <h5>HTML</h5>
        <pre ng-non-bindable><code data-language="HTML"><div ng-init="coords=[55.21, 34.30]">
    <yandex-map center="coords" zoom="'10'">
        <ymap-marker coordinates="coords"></ymap-marker>
    </yandex-map>
</div></code></pre>
        <h5>Javascript</h5>
        <pre ng-non-bindable><code data-language="javascript">//кофигурация модуля, использующего карты
angular.module('MyApp', ['ymaps']);</code></pre>
    
        <div class="page-header">
            <a href="examples/color-marker/" class="btn pull-right">Смотреть демо</a>
            <h4>Маркер нестандартного цвета</h4>
        </div>
        <p>Это немножко сложнее, нужно переопределить свойство <code>markerOptions</code> в настройках модуля. HTML такой же, как и в прошлом примере</p>
        <h5>HTML</h5>
        <pre ng-non-bindable><code data-language="HTML"><div ng-init="coords=[56.27, 34.33]">
    <yandex-map center="coords" zoom="'10'">
        <!-- а маркер теперь синий! -->
        <ymap-marker coordinates="coords"></ymap-marker>
    </yandex-map>
</div></code></pre>
        <h5>Javascript</h5>
        <pre ng-non-bindable><code data-language="javascript">//кофигурация модуля, использующего карты
angular.module('MyApp', ['ymaps']).config(function(ymapsConfig) {
    //выставляем синий цвет иконкам вместо зеленого
    ymapsConfig.markerOptions.preset = 'twirl#darkblueDotIcon';
});</code></pre>
    
        <div class="page-header">
            <a href="examples/markers-array/" class="btn pull-right">Смотреть демо</a>
            <h4>Маркеры на карте из массива</h4>
        </div>
        <p>С помощью Angular JS эта задача решается крайне легко! Пример в действии можно увидеть прямо на этой странице</p>
        <h5>HTML</h5>
        <pre ng-non-bindable><code data-language="HTML"><div ng-controller="MapCtrl">
    <yandex-map center="map.center" zoom="map.zoom">
        <!-- директива ng-repeat создаст все маркеры одним кодом  -->
        <ymap-marker ng-repeat="marker in markers" index="$index+1" coordinates="marker"></ymap-marker>
    </yandex-map>
</div></code></pre>
        <h5>Javascript</h5>
        <pre ng-non-bindable><code data-language="javascript">//нам нужно создать контроллер, если у вас его еще нет
angular.module('MyApp', ['ymaps']).controller('MapCtrl', function($scope) {
    //создаем массив координат. При желании его можно загружать и с сервера,
    //подробнее об этом - в документации Angular
    $scope.markers = [
        [54.46, 38.31],
        [53.57, 37.13],
        [53.14, 37.59]
    ];
    //настройки положения карты
    $scope.map = {
        center: [53.57, 37.13], zoom: 12
    };
});</code></pre>
    
        <div class="page-header">
            <a href="examples/markers-text/" class="btn pull-right">Смотреть демо</a>
            <h4>Метки с текстом на карте</h4>
        </div>
        <p>Этот пример, почти такой же, как и предыдущий, только нужно загрузить больше данных</p>
        <h5>HTML</h5>
        <pre ng-non-bindable><code data-language="HTML"><div ng-controller="MapCtrl">
    <yandex-map center="map.center" zoom="map.zoom">
        <!-- загружаем текст для метки в атрибут index -->
        <ymap-marker ng-repeat="marker in markers" index="marker.title" coordinates="marker.coordinates"></ymap-marker>
    </yandex-map>
</div></code></pre>
        <h5>Javascript</h5>
        <pre ng-non-bindable><code data-language="javascript">angular.module('MyApp', ['ymaps']).config(function(ymapsConfig) {
    //нужно сменить preset у карты на специальный текстовый
    ymapsConfig.markerOptions.preset = 'twirl#darkgreenStretchyIcon';
})
.controller('MapCtrl', function($scope) {
    //создаем массив с данными для меток
    $scope.markers = [
        {coordinates:[54.46, 38.31], title: 'Пункт А'},
        {coordinates:[53.57, 37.13], title: 'Пункт Б'},
        {coordinates:[53.14, 37.59], title: 'Запасной пункт Б'}
    ];
    //настройки положения карты
    $scope.map = {
        center: [53.57, 37.13], zoom: 12
    };
});</code></pre>
    
        <div class="page-header">
            <a href="examples/balloons/" class="btn pull-right">Смотреть демо</a>
            <h4>Маркеры с балунами</h4>
        </div>
        <p>Крайне востребованный случай, при клике на маркер показывается сообщение. Сделать это очень просто - нужно всего лишь прописать нужный текст в свойство balloonContent</p>
        <h5>HTML</h5>
        <pre ng-non-bindable><code data-language="HTML"><div ng-controller="MapCtrl">
    <yandex-map center="map.center" zoom="map.zoom">
        <!-- загружаем текст сообщения в атрибут properties -->
        <ymap-marker ng-repeat="marker in markers" index="$index+1" coordinates="marker.coordinates" properties="marker.properties"></ymap-marker>
    </yandex-map>
</div></code></pre>
        <h5>Javascript</h5>
        <pre ng-non-bindable><code data-language="javascript">//нам нужно создать контроллер, если у вас его еще нет
angular.module('MyApp', ['ymaps']).controller('MapCtrl', function($scope) {
    //создаем массив координат и данных для меток и балунов
    $scope.markers = [
        {coordinates:[56.56, 38.63], properties: {balloonContent: 'Здесь рыбы нет!'}},
        {coordinates:[55.16, 39.89], properties: {balloonContent: 'Здесь рыбы тоже нет'}},
        {coordinates:[55.08, 38.96], properties: {balloonContent: 'А здесь есть!'}}
    ];
    //настройки положения карты
    $scope.map = {
        center: [55.55, 39.84], zoom: 12
    };
});</code></pre>
    

    <p>Но это еще не все, есть и другие варианты примения, для них &mdash; документация <a href="http://api.yandex.ru/maps/doc/intro/concepts/intro.xml">Яндекс-карт</a>
    и <a href="http://docs.angularjs.org/api/">AngularJS</a> вам в помощь</p>

    <h3>Feedback</h3>

<p>Исходный код доступен на <a href="https://github.com/just-boris/angular-ymaps/">GitHub</a>. Проект открыт к изменениям,
принимаются пожелания и сообщения о багах в виде <a href="https://github.com/just-boris/angular-ymaps/issues">issues</a> к этому
репозиторию</p>

<h3>Contributing</h3>

<p>Проект собирается с помощью Grunt, для тестов используется Karma. Для сборки нужно сделать следующее</p>

<ul>
<li>Установить node.js</li>
<li>Установить Grunt <code>npm install -g grunt-cli</code></li>
<li>Установить Karma <code>npm install -g karma</code></li>
<li>Склонировать этот проект <code>git@github.com:just-boris/angular-ymaps.git</code></li>
<li>В папке проекта выполнить <code>npm init</code>, установить локальные зависимости</li>
<li>Сборка проекта выполняется командой <code>grunt</code>. В папке build будут собранные файлы</li>
<li>Для тестирования во время разработки можно запустить karma в режиме сервера: <code>karma start --no-single-run</code></li>
</ul>

<p>Буду рад принять пожелания и дополнения. Удачного кодинга!</p>
</div>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39285873-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>